* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


/* predefined classes */

.link_s {
    width: fit-content;
    cursor: pointer;
}

.link_s:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.w_fit_s {
    width: fit-content;
}

.h_fit_s {
    height: fit-content;
}

.cursor_pointer_s {
    cursor: pointer;
}


/**/

.website_bg_s {
    background-image: url("./Img/website_bg.jpg");
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -100;
}

.login_cont_s {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
}

.grid_img_s {
    width: 100%;
    height: 200px;
    background-image: url("./Img/raitings.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.home_grid_cont_s {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media(min-width: 768px) {
    .home_grid_cont_s {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid_dictionary_item_s {
        grid-column: 2 / span 1;
    }
}

.dark_bg_s {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000;
}

.dark_bg_s:hover {
    opacity: 0;
}

.navbar_dropdown_s {
    top: 100px;
    z-index: 100;
    display: none;
}

.settings_s {
    transition: 0.3s;
}

.settings_s>i {
    font-size: 30px;
}

.page_bg_color_s {
    background-color: rgba(0, 0, 0, 0.7);
}

.translate_word_s {
    color: #71fcf0;
    letter-spacing: 2px
}

.prob_answer_s:hover {
    transform: scale(1.1);
}

.user_img_and_username_s:hover {
    cursor: pointer;
    color: #ffc107 !important;
}

.event1_raitings_overflow {
    width: 100%;
    height: 310px;
}

@media(min-width: 580px) {
    .event1_raitings_overflow {
        width: fit-content;
    }
}

.wright_message_textarea {
    width: 290px;
    height: 100px;
}

@media(min-width : 580px) {
    .wright_message_textarea {
        width: 500px;
    }
}